@keyframes border-pulse {
    0% {
        box-shadow: inset 0 0 0 0 rgba(93, 147, 254, 0.7);
    }

    50% {
        box-shadow: inset 0 -5px 0 0 rgba(93, 147, 254, 0.7);
    }

    100% {
        box-shadow: inset 0 0 0 0 rgba(93, 147, 254, 0);
    }
}

.highlight-target:target {
    animation: border-pulse 1.5s infinite;
    scroll-margin-top: 250px;
}